@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="~/js/message.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="text" id="txtip" />
    <select id="group">
        <option id="All">All</option>
    </select>
    <input type="button" value="Send" onclick="sendMessage()" />
    @*<input type="button" value="Send To Others" onclick="SendMsgToOthers()" />
    <input type="button" value="Send To Client" onclick="SendMsgToClient()" />*@
</div>

<div id="receivedMsg"></div>
